.create-pending-block {
    width: 70% !important;
    margin: 50px auto 0 !important;
}

.create-pending-block-input {
    margin: 10px !important;
}

.create-pending-send-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.create-pending-send-label{
    font-size: 24px;
    font-weight: bold;
}
